/taverna_amicii/api_offline_taverna_amicii/bonuri_backup
/taverna_amicii/api_offline_taverna_amicii/bonuri_trimise
/taverna_amicii/api_offline_taverna_amicii/offline_sync_exports
/taverna_amicii/taverna_amicii/printer_bold/ScannedNotes
/taverna_amicii/taverna_amicii/printer_bold_online/ScannedNotes
